In [ ]:
from google.colab import drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
file=pd.read_csv("/content/drive/MyDrive/0.MKCE/Datasets/restaurants.csv")

In [ ]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Restaurant_ID    34 non-null     object
 1   Food_Quality     34 non-null     int64
 2   Service_Quality  34 non-null     int64
 3   Price            34 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.2+ KB

In [ ]:
file.columns

Index(['Restaurant_ID', 'Food_Quality', 'Service_Quality', 'Price'], dtype='object')

In [ ]:
file=file.drop(columns=["Restaurant_ID"],axis=1)
file

    Food_Quality  Service_Quality  Price
0             22               20     43
1             20               19     32
2             21               18     34
3             20               17     41
4             24               21     54
5             22               21     52
6             22               21     34
7             20               21     34
8             22               22     39
9             21               19     44
10            19               20     45
11            21               21     47
12            21               20     52
13            19               19     35
14            20               21     47
15            21               21     37
16            22               23     45
17            24               22     57
18            19               18     38
19            22               22     51
20            23               23     54
21            23               21     51
22            20               18     38
23            22               21     49
24            22               22     45
25            19               19     37
26            22               22     50
27            20               18     43
28            22               20     49
29            21               20     65
30            20               18     34
31            21               18     51
32            20               19     49
33            23               23     51

In [ ]:
y=file["Price"]
y

0     43
1     32
2     34
3     41
4     54
5     52
6     34
7     34
8     39
9     44
10    45
11    47
12    52
13    35
14    47
15    37
16    45
17    57
18    38
19    51
20    54
21    51
22    38
23    49
24    45
25    37
26    50
27    43
28    49
29    65
30    34
31    51
32    49
33    51
Name: Price, dtype: int64

In [ ]:
x=file.drop(["Price"],axis=1)

In [ ]:
x.values

array([[22, 20],
       [20, 19],
       [21, 18],
       [20, 17],
       [24, 21],
       [22, 21],
       [22, 21],
       [20, 21],
       [22, 22],
       [21, 19],
       [19, 20],
       [21, 21],
       [21, 20],
       [19, 19],
       [20, 21],
       [21, 21],
       [22, 23],
       [24, 22],
       [19, 18],
       [22, 22],
       [23, 23],
       [23, 21],
       [20, 18],
       [22, 21],
       [22, 22],
       [19, 19],
       [22, 22],
       [20, 18],
       [22, 20],
       [21, 20],
       [20, 18],
       [21, 18],
       [20, 19],
       [23, 23]])

In [ ]:
from sklearn.model_selection import train_test_split
x_training_set,x_testing_set,y_training_set,y_testing_set=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_training_set,y_training_set)

LinearRegression()

In [ ]:
#printing coefficients
print("Coefficient:\n",regressor.coef_)

Coefficient:
 [ 2.88046272 -0.04627249]

In [ ]:
print("Intercept:\n",regressor.intercept_)

Intercept:
 -15.435732647814902

In [ ]:
#predicting test set results
y_pred=regressor.predict(x_testing_set)
y_pred

array([44.08226221, 49.75064267, 38.41388175, 52.67737789, 44.22107969,
       46.91645244, 44.22107969])

In [ ]:
import sklearn

In [ ]:
#mean squared error

print("Mean Squared Error:",sklearn.metrics.mean_squared_error(y_testing_set,y_pred))

Mean Squared Error: 29.598121590148455

In [ ]:
#variance score
print("Variance Score:",sklearn.metrics.r2_score(y_testing_set,y_pred))

Variance Score: 0.5321587232524921